<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block bootstrap_css %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            
            <style>
                .site_title{ 
                  color: #f35626;
                  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  -webkit-animation: hue 60s infinite linear;
                  background-clip: text;
                  animation: hue 60s infinite linear;
  
                  font-size: 3rem;
                  font-weight: 100;
                  line-height: 2;
                  letter-spacing: -.05em;
  
                  font: "Roboto", Verdana, sans-serif;
                }
                  
                .butt {
                  border: 2px solid #f35626;
                  line-height: 1.375;
                  padding-left: 1.5rem;
                  padding-right: 1.5rem;
                  font-weight: 700;
                  color: #f35626;
                  cursor: pointer;
                  -webkit-animation: hue 60s infinite linear;
                  animation: hue 60s infinite linear;
                }

                body {
                  background-image: url('https://i.pinimg.com/originals/fa/07/de/fa07def1196074b19ab56c65280371ec.gif');
                  background-repeat: no-repeat;
                  background-attachment:fixed;
                  background-position:center bottom;
                  background-size: 100% auto;
                  background-color: #085f53;  
                  color: white;
                }
      
                table {
                  background-image: none;
                  background: white
                }
      
                .butt {
                  background: white;
                }

                input {
                  max-width: 70%;
                  
                }
                
                @-webkit-keyframes hue {
                  from {
                    -webkit-filter: hue-rotate(0deg);
                  }
  
                  to {
                    -webkit-filter: hue-rotate(-360deg);
                  }
                }
                @keyframes hue {
                  from {
                    -webkit-filter: hue-rotate(0deg);
                  }
  
                  to {
                    -webkit-filter: hue-rotate(-360deg);
                  }
                }
              </style>
        {% endblock %}
        {% block bootstrap_js %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block nav %} 
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                  <a class="navbar-brand" href="/user"><i class="fas fa-book-reader" style=""></i> Zinnig Actief</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
          
                  <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item" id="nav-index">
                        <a class="nav-link" href="/user">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item" id="nav-loc">
                        <a class="nav-link" href="/location">Location</a>
                      </li>
                      <li class="nav-item" id="nav-event">
                        <a class="nav-link" href="/event">Event</a>
                      </li>
                      <li class="nav-item" id="nav-act">
                        <a class="nav-link" href="/activity">Activity</a>
                      </li>
                      {# <li class="nav-item" id="nav-res">
                        <a class="nav-link" href="/reservation">Reservation</a>
                      </li> #}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_USER') %} 
                          <li class="nav-item active">
                            <a class="nav-link" href="/logout">
                              <button class="btn btn-danger navbar-btn">Logout</button>
                            </a>
                          </li>
                        {% else %}
                          <li class="nav-item active">
                            <a class="nav-link" href="/login">
                              <button class="btn btn-primary navbar-btn">Login</button>
                            </a>
                          </li>
                          <li class="nav-item active">
                            <a class="nav-link" href="/register">
                              <button class="btn btn-success navbar-btn">Register</button>
                            </a>
                          </li>
                        {% endif %}
                
                      </ul>
                  </div>
                </div>
              </nav>
          </header>

          <script>
              var permalink = window.location.pathname
              if(permalink.match('/logboek/')) {
                navItem = document.getElementById('nav-index');
                navItem.classList += ' active'
              }
              else if(permalink.match('/user/')) {
                navItem = document.getElementById('nav-index');
                navItem.classList += ' active'
              }
              else if(permalink.match('/location/')) {
                navItem = document.getElementById('nav-loc');
                navItem.classList += ' active'
              }
              else if(permalink.match('/event/')) {
                navItem = document.getElementById('nav-event');
                navItem.classList += ' active'
              }
              else if(permalink.match('/reservation/')) {
                navItem = document.getElementById('nav-res');
                navItem.classList += ' active'
              }
              else if(permalink.match('/activity/')) {
                navItem = document.getElementById('nav-act');
                navItem.classList += ' active'
              }
          </script>
      {% endblock %}

<br>
<br>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
